@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body{
    height: 100vh;
    background-color: rgb(233, 232, 228);
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.contadd{
    position: fixed;
    background-color: rgba(0, 0, 0,.4);
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}
.adder{
    display: flex;
    width: 80%;
    height: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.contentAdd  input{
    outline: 0;
    border: 0;
    border-bottom: 3px solid #ff0000;
}
.contentAdd{
    width: 380px;
    height:200px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 1px ;
    position: relative;
}
.adder > button{
    margin-top: 20px;
    border: 0;
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    padding: 10px 30px;
    cursor:pointer;
}

.adder > button:hover{
    background-color: rgba(248, 215, 215, 0.8);
}   
 .contentAdd > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: max-content;
}


.contentAdd > div > .search{
    width: 100px;
    height: 20px;
}
.contentAdd > textarea{
    max-width: 200px;
    max-height: 100px;
    min-width: 200px;
    min-height: 100px;
    position: absolute;
    outline: 0;
    bottom: -28px;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.container > .search{
    width: 98%;
    max-width:580px ;
    max-height: 55px;
    margin:30px auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0,.8);
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.678);
    position: relative;
}
.container > .search > label[for="seh"]{
    width: 5%;
    cursor: pointer;
    color:rgb(255, 255, 255);
}
.container > .search > label[for="seh"]:active{
    color: #03b8ff;
}

.container > .search > input{
    width: 70%;
    padding: 10px;
    outline: 0;
    border: 0px solid #ff0000;
    position: relative;
}
.link{
    text-decoration: 0;
    color: #fff;
    width: 20%;
    padding:10px 0;
    text-align: center;
    position: relative;
    transition: all .3s;
    overflow: hidden;
    cursor: pointer;
}
.link:hover{
    background-color: #00f7ff;
    color: #000;
    transition: all .2s;
    box-shadow:0 0 20px 1px #00f7ff , 0 0 30px 1px #00f7ff,0 0 40px 1px #00f7ff , 0 0 50px 1px #00f7ff,0 0 60px 1px #00f7ff ;
}

a:hover > span{
   visibility:hidden
}

.link > span:nth-child(1){
    width: 30px;
    border: 1px solid #00f7ff;
    position: absolute;
    top: 0;
    left: -40px;
    box-shadow:0 0 20px 1px #00f7ff , 0 0 30px 1px #00f7ff,0 0 40px 1px #00f7ff , 0 0 50px 1px #00f7ff,0 0 60px 1px #00f7ff ;
    animation: span1 1s 2.4s  linear infinite;
}


.link > span:nth-child(2){
    width: 30px;
    border: 1px solid #00f7ff;
    position: absolute;
    bottom: 0;
    left: 220px;
    box-shadow:0 0 20px 1px #00f7ff , 0 0 30px 1px #00f7ff,0 0 40px 1px #00f7ff , 0 0 50px 1px #00f7ff,0 0 60px 1px #00f7ff ;
    animation: span2 1s 1s  linear infinite;
}

.link > span:nth-child(3){
    height: 50%;
    border: 1px solid #00f7ff;
    position: absolute;
    left: 0%;
    top: 100%;
    box-shadow:0 0 20px 1px #00f7ff , 0 0 30px 1px #00f7ff,0 0 40px 1px #00f7ff , 0 0 50px 1px #00f7ff,0 0 60px 1px #00f7ff ;
    animation: span3 1s 2.2s  linear infinite;
}

.link > span:nth-child(4){
    height: 50%;
    border: 1px solid #00f7ff;
    position: absolute;
    right: 0;
    bottom: 100%;
    box-shadow:0 0 20px 1px #00f7ff , 0 0 30px 1px #00f7ff,0 0 40px 1px #00f7ff , 0 0 50px 1px #00f7ff,0 0 60px 1px #00f7ff ;
    animation:span4 1s 1s linear infinite;
}
@keyframes span1 {
    0%{
        transform: translateX(-200px);
    }
    100%{
        
        transform: translateX(330px);
    }
}
@keyframes span2 {
    0%{
        transform: translateX(200px);
    }
    100%{
        
        transform: translateX(-300px);
    }
}
@keyframes span3 {
    0%{
        transform: translateY(200px);
    }
    100%{
        
        transform: translateY(-100px);
    }
}
@keyframes span4 {
    0%{
        transform: translateY(-100px);
    }
    100%{
        
        transform: translateY(200px);
    }
} 
.chat_area{
    display: grid;
    width: 80%;
    margin: 60px 0;
    grid-template-columns:  repeat(auto-fill,360px);
    grid-auto-rows: 200px;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.chat_area > div{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    position:relative;
    overflow-y: auto;
}
.chat_area > div > i.remove{
    top: 0;
    font-size: 30px;
    color: red;
    position: absolute;
}
.chat_area > div > i.remove:active{
    color: rgba(255, 0, 0, 0.658);
}
.chat_area > div  .top_info{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.chat_area > div  .top_info .left_info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
    



.chat_area > div  .circle{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 8px .1px rgba(0, 0, 0,.8);
}
.chat_area > div:nth-child(1) .circle{
    width: 50px;
    height: 50px;
    background: url(../Capture.PNG) center no-repeat;
    background-size: 64px;
    border-radius: 50%;
}
.chat_area  p{
    display: inline-block;
}
.chat_area > div .left_info{
    display: flex;
    width: max-content;
    justify-content: space-around;
    align-items: center;
}
.chat_area > div > h3{
    display: inline-block;
    margin-left: 10px;
}
.chat_area > div{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

}
.chat_area div .content{
    width: 60%;
    text-align: justify;
    color: #000;
}
.chat_area::after{
    content: '';
    border-radius: 20px;
    box-shadow: 0px 0 10px 1px black;
    text-align: center;
    line-height: 200px;
    position: relative;
}

.show{
    display:flex;
}


@media screen and (max-width:480px) {
    .contadd .adder .contentAdd {
        width: 100%;
        height: 200px;
    }
}
